.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inputContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input[type="text"] {
    width: 250px;
    padding: 7px 10px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    margin-bottom: 10px;
}
input[type="number"] {
    width: 250px;
    padding: 7px 10px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    margin-bottom: 10px;

}
.addBtnContainer{
    text-align: center;
    margin-top: 10px;
}
.typeContainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.addBtn {
    color: white;
    background-color: #3B82F6;
    border-radius: 5px;
    border: none;
    padding: 7px 10px;
}
@media screen and (max-width: 460px) {
    input[type="text"] {
        width: 150px;
    }
    input[type="number"] {
        width: 150px;
    }
}