.expContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 13px auto;
    padding: 10px;
    border: 1px solid #E4E4E7;
    border-radius: 10px;
    width: 80%;
    background-color: #F4F4F5;
    border-right: 5px solid red;
}
.incContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 13px auto;
    padding: 10px;
    border: 1px solid #E4E4E7;
    border-radius: 10px;
    width: 80%;
    background-color: #F4F4F5;
    border-right: 5px solid green;
}
div > div >span{
    font-weight: bold;
}